<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="lazyLoadingEnabled" value="false" />

        <!-- 输入mybatis日志包括sql -->
        <setting name="logImpl" value="LOG4J" />

        <!-- 开启全局二级缓存 -->
        <!-- <setting name="cacheEnabled" value="true" /> -->
    </settings>
    <typeAliases>
        <!--这里给实体类取别名，方便在mapper配置文件中使用 -->
        <!-- <package name="cn.hand.entity"/> -->
    </typeAliases>

</configuration>  